In [1]:
# app/db.py
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
    "postgresql+psycopg2://postgres:110868@localhost:5432/geolife"
)

In [2]:
pd.read_sql("SELECT 1;", engine)

   ?column?
0         1

In [3]:
query = """
SELECT table_schema, table_name
FROM information_schema.tables
WHERE table_schema = 'mart';
"""

pd.read_sql(query, engine)

  table_schema             table_name
0         mart          trip_features
1         mart             trip_dates
2         mart  user_mobility_summary
3         mart         trip_anomalies
4         mart   user_anomaly_summary

In [4]:
user_df = pd.read_sql(
    "SELECT * FROM mart.user_mobility_summary;",
    engine
)

user_df.head()

,user_id,total_trips,total_distance_km,avg_trip_distance_km,avg_trip_duration_min,avg_speed_kmph,avg_idle_time_ratio,avg_trip_efficiency,weekday_trip_ratio,night_trip_ratio,distance_variability,duration_variability,active_days,trips_per_active_day
0,0,594,7680.880631,12.930775,27.804321,9.822379,0.157150,0.460791,0.737374,0.341751,89.511296,31.303721,123,4.829268
1,1,154,1002.795583,6.511660,43.572078,13.670812,0.161220,0.165810,0.694805,0.493506,5.880688,40.537057,43,3.581395
2,2,440,4400.082189,10.000187,42.603485,10.551198,0.123167,0.473704,0.663636,0.415909,30.581789,41.226068,118,3.728814
3,3,1267,12936.030173,10.209969,34.353157,9.535877,0.180358,0.324014,0.737964,0.352802,63.601667,40.170830,239,5.301255
4,4,1574,10462.622840,6.647156,24.683503,10.684570,0.114175,0.237100,0.731893,0.328463,41.515089,30.292189,263,5.984791

In [5]:
user_df[["total_trips", "active_days", "avg_idle_time_ratio"]].head()

   total_trips  active_days  avg_idle_time_ratio
0          594          123             0.157150
1          154           43             0.161220
2          440          118             0.123167
3         1267          239             0.180358
4         1574          263             0.114175

In [10]:
user_df.sort_values(
    "total_trips",
    ascending=False
).head(5)[
    ["user_id", "total_trips", "active_days", "avg_idle_time_ratio"]
]

  user_id  total_trips  active_days  avg_idle_time_ratio
4       4         1574          263             0.114175
3       3         1267          239             0.180358
0       0          594          123             0.157150
2       2          440          118             0.123167
5       5          227           61             0.185550

In [11]:
trip_df = pd.read_sql(
    "SELECT * FROM mart.trip_features;",
    engine
)

trip_df.head()

,user_id,trip_id,trip_start_time,trip_end_time,trip_duration_min,total_distance_km,avg_speed_kmph,max_speed_kmph,num_points,idle_time_ratio,bounding_box_area,night_trip_flag,weekday_flag,trip_efficiency
0,0,0,2008-10-23 02:53:04,2008-10-23 03:05:15,12.183333,2.068493,10.065517,41.795366,148,0.013514,2.833498e-05,1,1,0.169781
1,0,1,2008-10-23 04:08:07,2008-10-23 04:34:52,26.750000,7.904753,9.963295,118.364809,322,0.074534,6.282003e-04,1,1,0.295505
2,0,2,2008-10-23 09:42:25,2008-10-23 10:33:20,50.916667,4.387869,5.389305,61.310087,403,0.146402,1.950538e-05,0,1,0.086177
3,0,4,2008-10-23 11:08:22,2008-10-23 11:11:12,2.833333,0.229258,6.783622,24.124796,13,0.076923,9.834440e-07,0,1,0.080914
4,0,5,2008-10-24 02:09:59,2008-10-24 02:29:26,19.450000,0.968690,3.323335,104.127482,176,0.448864,6.516863e-06,1,1,0.049804

In [12]:
trip_df[[
    "total_distance_km",
    "trip_duration_min",
    "avg_speed_kmph",
    "idle_time_ratio"
]].describe()

       total_distance_km  trip_duration_min  avg_speed_kmph  idle_time_ratio
count        4758.000000        4758.000000     4758.000000      4758.000000
mean            9.712616          32.327070       10.260122         0.146863
std            67.161015          37.471139        7.606308         0.128498
min             0.104073           2.000000        1.007793         0.000000
25%             1.544238           9.166667        6.065734         0.055556
50%             2.338178          17.216667        8.883399         0.110203
75%             6.284036          42.025000       11.786145         0.193928
max          2004.107010         293.183333      102.526566         0.814815

In [13]:
sample_user = user_df.iloc[0]["user_id"]

sample_user

'0'

In [14]:
trip_df[trip_df["user_id"] == sample_user].shape

(594, 14)

In [15]:
user_df[user_df["user_id"] == sample_user][
    ["total_trips", "active_days", "avg_trip_distance_km"]
]

   total_trips  active_days  avg_trip_distance_km
0          594          123             12.930775

In [16]:
trip_df[trip_df["user_id"] == sample_user][
    ["total_distance_km", "trip_duration_min"]
].sum()

total_distance_km     7680.880631
trip_duration_min    16515.766667
dtype: float64

In [17]:
anomaly_df = pd.read_sql(
    "SELECT * FROM mart.trip_anomalies;",
    engine
)

anomaly_df.head()

,user_id,trip_id,trip_start_time,trip_end_time,trip_duration_min,total_distance_km,avg_speed_kmph,max_speed_kmph,num_points,idle_time_ratio,bounding_box_area,night_trip_flag,weekday_flag,trip_efficiency,speed_anomaly,distance_anomaly,duration_anomaly,spatial_anomaly,night_behavior_anomaly,anomaly_score
0,0,0,2008-10-23 02:53:04,2008-10-23 03:05:15,12.183333,2.068493,10.065517,41.795366,148,0.013514,2.833498e-05,1,1,0.169781,0,0,0,0,0,0
1,0,1,2008-10-23 04:08:07,2008-10-23 04:34:52,26.750000,7.904753,9.963295,118.364809,322,0.074534,6.282003e-04,1,1,0.295505,0,0,0,0,0,0
2,0,2,2008-10-23 09:42:25,2008-10-23 10:33:20,50.916667,4.387869,5.389305,61.310087,403,0.146402,1.950538e-05,0,1,0.086177,0,0,0,0,0,0
3,0,4,2008-10-23 11:08:22,2008-10-23 11:11:12,2.833333,0.229258,6.783622,24.124796,13,0.076923,9.834440e-07,0,1,0.080914,0,0,0,0,0,0
4,0,5,2008-10-24 02:09:59,2008-10-24 02:29:26,19.450000,0.968690,3.323335,104.127482,176,0.448864,6.516863e-06,1,1,0.049804,0,0,0,0,0,0

In [18]:
anomaly_df["anomaly_score"].value_counts().sort_index()

anomaly_score
0    4295
1     451
2      12
Name: count, dtype: int64

In [19]:
(
    (anomaly_df["anomaly_score"] > 0).mean() * 100
)

np.float64(9.73097940311055)

In [20]:
anomaly_df[
    anomaly_df["anomaly_score"] >= 2
][[
    "user_id",
    "trip_id",
    "total_distance_km",
    "trip_duration_min",
    "avg_speed_kmph",
    "idle_time_ratio",
    "night_trip_flag",
    "anomaly_score"
]].head(10)

,user_id,trip_id,total_distance_km,trip_duration_min,avg_speed_kmph,idle_time_ratio,night_trip_flag,anomaly_score
356,0,382,1106.401814,45.500000,39.433454,0.148214,0,2
543,0,575,1104.739841,71.916667,21.232357,0.200883,0,2
1065,2,333,131.605508,144.866667,74.253186,0.010879,1,2
1068,2,336,233.868358,22.300000,8.500274,0.025000,0,2
1690,3,529,173.330571,125.333333,88.414139,0.017094,0,2
1896,3,746,479.406974,287.916667,102.526566,0.043030,0,2
2217,3,1084,1106.401814,45.500000,39.433454,0.148214,0,2
2404,3,1277,1104.739841,71.916667,21.232357,0.200883,0,2
2999,4,562,479.899819,130.766667,20.076937,0.203831,0,2
4230,5,217,434.155756,46.666667,13.241651,0.055556,1,2

In [21]:
anomaly_df.groupby("user_id")["anomaly_score"].mean().sort_values(ascending=False).head()

user_id
8    0.352273
6    0.258065
9    0.204545
2    0.197727
1    0.188312
Name: anomaly_score, dtype: float64

In [22]:
user_dash_df = pd.read_sql(
    "SELECT * FROM mart.user_mobility_summary;",
    engine
)

anomaly_dash_df = pd.read_sql(
    "SELECT * FROM mart.trip_anomalies;",
    engine
)

In [23]:
user_dash_df = user_dash_df[
    [
        "user_id",
        "total_trips",
        "active_days",
        "avg_trip_distance_km",
        "avg_speed_kmph",
        "avg_idle_time_ratio",
        "weekday_trip_ratio",
        "night_trip_ratio"
    ]
]

In [24]:
anomaly_dash_df = anomaly_dash_df[
    [
        "user_id",
        "trip_id",
        "total_distance_km",
        "trip_duration_min",
        "avg_speed_kmph",
        "idle_time_ratio",
        "night_trip_flag",
        "anomaly_score"
    ]
]

In [25]:
user_dash_df.head()

,user_id,total_trips,active_days,avg_trip_distance_km,avg_speed_kmph,avg_idle_time_ratio,weekday_trip_ratio,night_trip_ratio
0,0,594,123,12.930775,9.822379,0.157150,0.737374,0.341751
1,1,154,43,6.511660,13.670812,0.161220,0.694805,0.493506
2,2,440,118,10.000187,10.551198,0.123167,0.663636,0.415909
3,3,1267,239,10.209969,9.535877,0.180358,0.737964,0.352802
4,4,1574,263,6.647156,10.684570,0.114175,0.731893,0.328463

In [26]:
anomaly_dash_df.head()

,user_id,trip_id,total_distance_km,trip_duration_min,avg_speed_kmph,idle_time_ratio,night_trip_flag,anomaly_score
0,0,0,2.068493,12.183333,10.065517,0.013514,1,0
1,0,1,7.904753,26.750000,9.963295,0.074534,1,0
2,0,2,4.387869,50.916667,5.389305,0.146402,0,0
3,0,4,0.229258,2.833333,6.783622,0.076923,0,0
4,0,5,0.968690,19.450000,3.323335,0.448864,1,0